# Gradle
.gradle/
build/

# Compiled class files
*.class

# Package files
*.jar
*.war

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# JVM attach API artifacts (created by Mockito dynamic agent loading)
.attach_pid*
